# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependências (caso venha a usar npm no futuro)
node_modules/

# Build (caso venha a usar bundler no futuro)
dist/
build/
